@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">მოგესალმებით, გთხოვთ გაიარეთ რეგისტრაცია ან დალოგინდით</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else {
<div class="text-center">
    <h1 class="display-4">კეთილი იყოს თქვენი ვიზიტი</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
}

